* {
    padding: 0;
    margin: 0;
    user-select: none;
    flex-shrink: 0;
    font-family: "alibaba";
    font-size: 13px;
}

@font-face {
    font-family: "alibaba";
    src: url("alibaba.ttf") format("woff"),
        url("alibaba.ttf") format("truetype");
}

.contain {
    padding: 20px;
    width: 350px;
    --main-height: 310px;
    border-radius: 10px;
    overflow: hidden;
    outline: none;
    display: flex;
    background-color: #F3F6FD;
    -webkit-app-region: drag;
}

.left-menu-logo {
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .1);
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid white;
    box-sizing: border-box;
    -webkit-app-region: no-drag;
}

.right {
    height: var(--main-height);
    width: 350px;
}

.right-menu {
    width: 350px;
    height: 40px;
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
}

.right-menu-time {
    width: 230px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .1);
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: bold;
    color: #1296DB;
    -webkit-app-region: no-drag;
}

.right-menu-delete {
    width: 40px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.form-add-box {
    width: 350px;
    border-radius: 5px;
    height: 230px;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .1);
    padding-top: 20px;
    -webkit-app-region: no-drag;
}

.form-add-menu-input {
    width: 85px;
    border: none;
    height: 15px;
    padding: 0;
    outline: none;
    background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-add-result {
    height: 45px;
    width: 310px;
    margin: 20px;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.form-add-result-input {
    height: 45px;
    width: 200px;
    outline: none;
    border: none;
    background-color: #ECEFF7;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 15px;
    color: #979EAD;
    border: 2px solid #ECEFF7;
}

.form-add-result img {
    width: 90px;
    height: 45px;
    margin-left: 20px;
    border-radius: 5px;
}

.form-add-menu {
    padding: 0 20px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.form-add-menu div {
    width: calc(50% - 10px);
    height: 35px;
    background-color: #ECEFF7;
    padding: 0 15px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: #979EAD;
    border: 2px solid #dce1ed;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.form-add-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.form-add-bottom div {
    height: 35px;
    background-color: #444857;
    padding: 0 15px;
    height: 35px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    justify-content: center;
}

#form-add-bottom-submit {
    background-color: #74A89B;
}